@model IEnumerable<EmpregosOnLine.Models.Empresa>

@{
    ViewData["Title"] = "Empresas Parceiras";
}

<h3>@ViewData["Title"]</h3>

<p class="my-3">
    <a asp-action="Create" class="btn bg-verde txt-claro">Cadastrar Empresa</a>
</p>

<div class="d-flex">
    @foreach (var empresa in Model)
    {
        <div class="card m-2 pb-3" style="width: 18rem;">
            <img src="/images/graffiti.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h-25">@empresa.Nome</h5>
                <p class="card-text">@empresa.Endereco.Cidade - @empresa.Endereco.Estado</p>

                @if (empresa.Vagas.Count > 0)
                {
                    <p class="txt-verde">Possui vagas</p>
                }
                else
                {
                    <p class="txt-tomate">Não possui vagas</p>
                }
                <a asp-action="Details" asp-route-id="@empresa.Id" class="btn bg-escuro txt-claro">Detalhes</a>
            </div>
        </div>
    }
</div>
