@using EmpregosOnLine.Models.Enums;
@model EmpregosOnLine.Models.ViewModels.VagaFormViewModel

@{
    ViewData["Title"] = "Criar Nova Vaga";
}

<h4 class="">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Create" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="p-2 border">
                <label asp-for="Titulo" class="fs-5"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="p-2 mt-3 border">
                <label asp-for="Descricao" class="fs-5"></label>
                <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="d-flex border justify-content-between p-2 mt-3">
                <div class="flex-fill mx-2">
                    <label class="fs-5">Tipo de Vaga</label>
                    @Html.DropDownListFor(model => model.TiposVaga, Enum.GetValues(typeof(TipoVaga)).Cast<TipoVaga>().Select(v =>
                    new SelectListItem
                    {
                    Text = v.ToString(),
                    Value = ((int)v).ToString()
                    }), new { @class = "form-control" })
                </div>
                <div class="flex-fill mx-2">
                    <label class="fs-5">Tipo de Contrato</label>
                    @Html.DropDownListFor(model => model.TiposContrato, Enum.GetValues(typeof(TipoContrato)).Cast<TipoContrato>().Select(c =>
                    new SelectListItem
                    {
                    Text = c.ToString(),
                    Value = ((int)c).ToString()
                    }), new { @class = "form-control" })
                </div>
                <div class="flex-fill mx-2">
                    <label class="fs-5">Empresa</label>
                    <select asp-for="EmpresaId" asp-items="@(new SelectList(Model.Empresas, "Id", "Nome"))" class="form-control"></select>
                </div>
            </div>
            <div class="d-flex my-3 p-2 flex-column border">
                <label asp-for="Habilidades" class="fs-5"></label>
                @*@Html.ListBoxFor(model => model.HabilidadesSelecionadas, 
                    new MultiSelectList(Model.Habilidades, "Id", "Titulo"),
                    new { @class = "form-control", multiple = "multiple" }
                )*@
                <div class="d-flex">
                    @foreach (var habilidade in Model.Habilidades)
                    {
                        <div class="mx-2">
                            <input class="btn-check" type="checkbox"
                                   id="habilidade_@habilidade.Id"
                                   autocomplete="off"
                                   name="HabilidadesSelecionadas"
                                   value="@habilidade.Id"
                            @(Model.HabilidadesSelecionadas.Contains(habilidade) ? "checked" : "") />
                            <label class="btn btn-outline-success" for="habilidade_@habilidade.Id">
                                @habilidade.Titulo
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="d-flex my-3 p-2 flex-column border">
                <label asp-for="Beneficios" class="fs-5"></label>
                <div class="d-flex">
                    @foreach (var beneficio in Model.Beneficios)
                    {
                        <div class="mx-2">
                            <input class="btn-check" type="checkbox"
                                   id="beneficio_@beneficio.Id"
                                   autocomplete="off"
                                   name="BeneficiosSelecionados"
                                   value="@beneficio.Id"
                            @(Model.BeneficiosSelecionados.Contains(beneficio) ? "checked" : "") />
                            <label class="btn btn-outline-success" for="beneficio_@beneficio.Id">
                                @beneficio.Titulo
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="">
                <a asp-action="Index" class="btn bg-escuro txt-claro mx-2">Voltar</a>
                <input type="submit" value="Criar" class="btn bg-verde txt-claro mx-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
