@model EmpregosOnLine.Models.Vaga

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Tem certeza que seja excluir a vaga?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn bg-escuro txt-claro mx-2">Back to List</a>
        <input type="submit" value="Delete" class="btn bg-tomate txt-claro mx-2" />
    </form>
</div>
