@model EmpregosOnLine.Models.Vaga

@{
    ViewData["Title"] = "Detalhes da vaga";
}

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ACombinarSalario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ACombinarSalario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ACombinarSalario == true)
            {
                @Html.Label("À partir de:")
            }
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>
        <dt class="col-sm-2">
            Local
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Endereco.Cidade) - 
            @Html.DisplayFor(model => model.Empresa.Endereco.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habilidades)
        </dt>
        <dd class="col-sm-10">
            @foreach (var habilidade in Model.Habilidades)
            {
                @Html.DisplayFor(model => habilidade.Titulo) <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficios)
        </dt>
        <dd class="col-sm-10">
            @foreach (var beneficio in Model.Beneficios)
            {
                @Html.DisplayFor(model => beneficio.Titulo) <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn bg-escuro txt-claro mx-2">Voltar</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn bg-verde txt-claro mx-2">Editar</a>
</div>
