@model IEnumerable<EmpregosOnLine.Models.Vaga>

@{
    ViewData["Title"] = "Lista de vagas";
}

<h3>@ViewData["Title"]</h3>

<p class="my-3">
    <a asp-action="Create" class="btn bg-verde txt-claro">Criar Vaga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativa)
            </th>
            <th class="col-sm-3">Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="py-3">
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td class="py-3">
                @Html.DisplayFor(modelItem => item.TipoVaga)
            </td>
            <td class="py-3">
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td class="py-3">
                @Html.DisplayFor(modelItem => item.Ativa)
            </td>
            <td  class="col-sm-3">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn border">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn border">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn border">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
