@model IEnumerable<EmpregosOnLine.Models.Vaga>

@{
    ViewData["Title"] = "Lista de vagas";
}

<h3>@ViewData["Title"]</h3>

<p class="my-3">
    <a asp-action="Create" class="btn bg-verde txt-claro">Criar Vaga</a>
</p>

<div class="d-flex align-items-center justify-content-center my-5">
    <div>

    </div>
    <div class="d-flex align-items-center mx-4">
        <span class="text-nowrap mx-2">Tipo de vaga</span>
        <select class="form-select" id="tipoVagaSelect">
            <option value="todos" selected>Todos</option>
            @foreach (var tipoVaga in ViewBag.VagasList.TiposVaga)
            {
                <option value="@tipoVaga">@tipoVaga</option>
            }
        </select>
    </div>
    <div class="d-flex align-items-center mx-4">
        <span class="text-nowrap mx-2">Perfil</span>
        <select class="form-select" id="perfilSelect">
            <option value="todos" selected>Todos</option>
            @foreach (var tipoPerfil in ViewBag.VagasList.TiposPerfil)
            {
                <option value="@tipoPerfil">@tipoPerfil</option>
            }
        </select>
    </div>
    <div class="form-check form-switch mx-4">
        <label class="form-check-label" for="chkAtiva">Apenas vagas ativas</label>
        <input class="form-check-input" type="checkbox" role="switch" id="chkAtiva" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th class="col-sm-3">Opções</th>
        </tr>
    </thead>
    <tbody id="vagasTableBody">
        @foreach (var item in Model)
        {
            @if (item.Ativa == true)
            {
                <tr>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.TipoVaga)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.TipoPerfil)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Empresa.Nome)
                    </td>
                    <td class="col-sm-3">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn border">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn border">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn border">Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="text-muted">
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.TipoVaga)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.TipoPerfil)
                    </td>
                    <td class="py-3">
                        @Html.DisplayFor(modelItem => item.Empresa.Nome)
                    </td>
                    <td class="col-sm-3">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn border">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn border">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn border">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function carregarVagasAtivas(ativa) {
        //    $.ajax({
        //        url: "@Url.Action("GetVagasAtivas", "Vagas")",
        //        type: "GET",
        //        data: { ativa: ativa },
        //        success: function (result) {
        //            $('#vagasTableBody').html(result)
        //        }
        //    });
        //}

        //function carregarVagasFiltro(valor, filtro) {
        //    $.ajax({
        //        url: "@Url.Action("GetVagasFiltro", "Vagas")",
        //        type: "GET",
        //        data: {
        //            valor: valor,
        //            filtro: filtro
        //        },
        //        success: function (result) {
        //            $("#vagasTableBody").html(result)
        //        }
        //    });
        //}

        //$("#chkAtiva").change(function () {
        //    var isChecked = $(this).is(":checked");
        //    carregarVagasAtivas(isChecked);
        //});

        //$("#perfilSelect").change(function () {
        //    var perfil = $(this).val();
        //    carregarVagasFiltro(perfil, "TipoPerfil");
        //});

        //$("#tipoVagaSelect").change(function () {
        //    var tipoVaga = $(this).val();
        //    carregarVagasFiltro(tipoVaga, "TipoVaga");
        //});

        function carregarVagasTodosFiltros() {
            var tipoVaga = $("#tipoVagaSelect").val();
            var perfil = $("#perfilSelect").val();
            var ativa = $("#chkAtiva").is(":checked");

            $.ajax({
                url: "@Url.Action("GetVagasTodosFiltros", "Vagas")",
                type: "GET",
                data: {
                    tipoVaga: tipoVaga,
                    perfil: perfil,
                    ativa: ativa
                },
                success: function (result) {
                    $("#vagasTableBody").html(result);
                }
            });
        }

        $("#chkAtiva, #perfilSelect, #tipoVagaSelect").change(function () {
            carregarVagasTodosFiltros();
        });
    });
</script>
